<header class="header">
    <a href="tel: +74992112233" class="header__pipe"></a>
    <a class="header__logo" [routerLink]="['/']"></a>
    <ul class="header__nav"
      [ngClass]='{"header__nav_active": activeMenu}'>
      <li class="header__nav__item">
        <a class="header__nav__item__link" [routerLink]="['/']">О компании</a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__item__link" [routerLink]="['/']">Объекты</a>
      </li>
      <li class="header__nav__item">
        <a class="header__nav__item__link" [routerLink]="['/']">Контакты</a>
      </li>
      <div class="header__nav__adress">г. Люберцы, Новорязанское ш., д.7 <br> Торгово-офисный центр Гренада</div>
      <div class="header__nav__facebook">Мы в 
        <a href="/" class="header__nav__facebook__link">Facebook</a>
      </div>
    </ul>
    <a href="tel: +74992112233" class="header__telephon">+7 (499) 211 22 33</a>
    <div class="header__button-menu" (click)="activeMenu = !activeMenu"
    [ngClass]='{"header__button-menu_active": activeMenu}'></div>
</header>