<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__wrap__year">2012 — 2018</div>
    <a href="/" class="footer__wrap__facebook">Мы в Facebook</a>
  </div>
  <a href="/" class="footer__developer">made by
    <span class="footer__developer__text">background</span>
  </a>
</footer>