.footer{
    width: 100%;
    height: 130px;
    position: absolute;
    z-index: 90;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    box-sizing: border-box;

    @media(max-width: 1024px) {
        margin-left: 25px;
        width: calc(100% - 50px);
    }

    @media(max-width: 667px) {
        margin-left: 20px;
        width: calc(100% - 40px);
        display: block;
        height: 80px;
        padding: 0;
    }

    &__wrap{
        display: flex;
        font: 18px/18px 'Proba', sans-serif;
        color: #000;

        &__facebook{
            margin-left: 18px;
            display: block;
            text-decoration: none;
            color: #000;
            border-bottom: 1px solid #000;
        }
    }

    &__developer{
        font: 18px/18px 'Proba', sans-serif;
        color: #000;
        text-decoration: none;
        display: block;

        @media(max-width: 667px) {
            margin-top: 20px;
        }

        &__text{
            border-bottom: 1px solid #000;
        }
    }
}