@import '/reset/reset';
@import '/font/fonts';
@import '/common/commons';

html, body{
    width: 100vw;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: auto;
}


.app-wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;
}