.other-object{
    width: 1100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 140px;

    @media(max-width: 1024px){
        width: 100%;
        left: 20px;
        transform: translate(0);
    }

    @media(max-width: 667px){
        margin-top: 0px;
    }

    &__title{
        font: 36px/36px 'Proba', sans-serif;
        color: #000;

        @media(max-width: 667px){
            font-size: 24px;
            line-height: 29px;
            width: 90%;
        }
    }

    &__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        @media(max-width: 667px){
            margin-top: 20px;
        }

        &__link{
            width: 528px;
            height: 361px;
            position: relative;
            overflow: hidden;
            margin: 0 14px 14px 0;
            cursor: pointer;

            @media(max-width: 1024px){
                width: calc(100% - 40px);
            }

            @media(max-width: 667px){
                height: 230px;
            }
        
            &__bgr{
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }

            &__adress{
                position: absolute;
                top: 30px;
                left: 30px;
                display: flex;
                z-index: 2;

                @media(max-width: 667px){
                    display: block;
                    top: 15px;
                    left: 15px;
                }

                &__text{
                    height: 37px;
                    background: #fff;
                    padding: 0 10px 0 10px;
                    margin-left: 2px;
                    display: inline-flex;
                    align-items: center;
                    font: 15px/18px 'Proba', sans-serif;
                    color: #000;

                    @media(max-width: 667px){
                        margin-top: 2px;
                        font-size: 13px;
                        height: 33px;
                    }
                }
            }

            &__case{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)) 0 0;
                padding: 97px 0 0 30px;
                transition: background .2s linear;

                @media(max-width: 667px){
                    padding-left: 15px;
                }

                &__item{
                    font: 20px/24px 'Proba', sans-serif;
                    color: #fff;
                    opacity: 0;
                    transition: opacity .2s linear;
                }

                &:hover{
                    background: rgba(0, 0, 0, .5);

                    .other-object__list__link__case__item{
                        opacity: 1;
                    }
                }
            }

            &__name{
                position: absolute;
                bottom: 30px;
                left: 30px;
                font: 32px/38px 'Proba', sans-serif;
                color: #fff;

                @media(max-width: 667px){
                    left: 15px;
                    font-size: 24px;
                    line-height: 29px;
                }

                &__price{
                    display: block;
                    font: 18px/23px 'Proba', sans-serif;
                }
            }
        }
    }
}