<section class="other-object">
  <h1 class="other-object__title">Посмотрите другие объекты</h1>
  <div class="other-object__list">
    <a href="" class="other-object__list__link">
      <img src="/assets/img/objects/other-objects/novokrasovo-1080.jpg" alt="" class="other-object__list__link__bgr">
      <div class="other-object__list__link__adress">
        <div class="other-object__list__link__adress__text">Люберекций р-н, пос. Красково</div>
        <div class="other-object__list__link__adress__text">13 км от МКАД</div>
      </div>
      <ul class="other-object__list__link__case">
        <li class="other-object__list__link__case__item">Корпуса 1 и 2 — сданы</li>
        <li class="other-object__list__link__case__item">Корпуса 3 и 4 — апрель 2019 г.</li>
        <li class="other-object__list__link__case__item">Корпуса 5 и 6 — декабрь 2020 г.</li>
      </ul>
      <div class="other-object__list__link__name">Новокрасково
        <span class="other-object__list__link__name__price">Квартиры от 1,9 млн. руб</span>
      </div>
    </a>
    <a href="" class="other-object__list__link">
      <img src="/assets/img/objects/other-objects/gorod-may-1080.jpg" alt="" class="other-object__list__link__bgr">
      <div class="other-object__list__link__adress">
        <div class="other-object__list__link__adress__text">Ленинский р-н, пос. Горки Ленинские</div>
        <div class="other-object__list__link__adress__text">9 км от МКАД</div>
      </div>
      <ul class="other-object__list__link__case">
        <li class="other-object__list__link__case__item">Корпуса 1 и 2 — сданы</li>
        <li class="other-object__list__link__case__item">Корпуса 3 и 4 — апрель 2019 г.</li>
        <li class="other-object__list__link__case__item">Корпуса 5 и 6 — декабрь 2020 г.</li>
      </ul>
      <div class="other-object__list__link__name">Город курорт-май
        <span class="other-object__list__link__name__price">Квартиры от 1,9 млн. руб</span>
      </div>
    </a>
    <a href="" class="other-object__list__link">
      <img src="/assets/img/objects/other-objects/academ-1080.jpg" alt="" class="other-object__list__link__bgr">
      <div class="other-object__list__link__adress">
        <div class="other-object__list__link__adress__text">Люберецкий р-н, г. Люберцы</div>
        <div class="other-object__list__link__adress__text">5 км от МКАД</div>
      </div>
      <ul class="other-object__list__link__case">
        <li class="other-object__list__link__case__item">Корпуса 1 и 2 — сданы</li>
        <li class="other-object__list__link__case__item">Корпуса 3 и 4 — апрель 2019 г.</li>
        <li class="other-object__list__link__case__item">Корпуса 5 и 6 — декабрь 2020 г.</li>
      </ul>
      <div class="other-object__list__link__name">Академический
        <span class="other-object__list__link__name__price">Квартиры от 1,9 млн. руб</span>
      </div>
    </a>
    <a href="" class="other-object__list__link">
      <img src="/assets/img/objects/other-objects/oblako-1080.jpg" alt="" class="other-object__list__link__bgr">
      <div class="other-object__list__link__adress">
        <div class="other-object__list__link__adress__text">Люберецкий р-н, г. Люберцы</div>
        <div class="other-object__list__link__adress__text">5 км от МКАД</div>
      </div>
      <ul class="other-object__list__link__case">
        <li class="other-object__list__link__case__item">Корпуса 1 и 2 — сданы</li>
        <li class="other-object__list__link__case__item">Корпуса 3 и 4 — апрель 2019 г.</li>
        <li class="other-object__list__link__case__item">Корпуса 5 и 6 — декабрь 2020 г.</li>
      </ul>
      <div class="other-object__list__link__name">Облака
        <span class="other-object__list__link__name__price">Квартиры от 1,9 млн. руб</span>
      </div>
    </a>
    <a href="" class="other-object__list__link">
      <img src="/assets/img/objects/other-objects/bitcev-park-1080.jpg" alt="" class="other-object__list__link__bgr">
      <div class="other-object__list__link__adress">
        <div class="other-object__list__link__adress__text">Ленинский р-н, г. Видное</div>
        <div class="other-object__list__link__adress__text">3 км от МКАД</div>
      </div>
      <ul class="other-object__list__link__case">
        <li class="other-object__list__link__case__item">Корпуса 1 и 2 — сданы</li>
        <li class="other-object__list__link__case__item">Корпуса 3 и 4 — апрель 2019 г.</li>
        <li class="other-object__list__link__case__item">Корпуса 5 и 6 — декабрь 2020 г.</li>
      </ul>
      <div class="other-object__list__link__name">Битцевские холмы
        <span class="other-object__list__link__name__price">Квартиры от 1,9 млн. руб</span>
      </div>
    </a>
  </div>
</section>