<section class="news">
  <div class="news__list">
    <div class="news__list__title">Новости</div>
    <a href='/' class="news__list__item">15 марта 2018
      <div class="news__list__item__text">Получены Разрешения на ввод по 7 и 8 домам!</div>
    </a>
    <a href='/' class="news__list__item">5 марта 2018
      <div class="news__list__item__text">Новый объем квартир с отделкой в продаже!</div>
    </a>
  </div>
  <div class="news__list">
    <div class="news__list__title">Акции</div>
    <a href='/' class="news__list__item">15 марта 2018
      <div class="news__list__item__text">Скидка до 10% на квартиры с отделкой!</div>
    </a>
  </div>

  <a class="select" href="http://vbdom.ru/flats/plan">
    <div class="select__text"> Выберите квартиру на 
      <span class="select__text__vb">vbdom.ru</span>
    </div>
    <div class="select__key"></div>
  </a>
</section>