<section class="info">
  <h1 class="info__title">ЖК Видный берег</h1>
  <div class="info__links">
    <a href="http://vbdom.ru/" class="info__links__website">vbdom.ru</a>
    <a href="/" class="info__links__vk info__links__network"></a>
    <a href="/" class="info__links__instagram info__links__network"></a>
    <a href="/" class="info__links__facebook info__links__network"></a>
  </div>
  <p class="info__text">Жилой комплекс переменной этажности расположен в Ленинском районе на берегу реки Купелинка и состоит из 10 многоквартирных домов. Комплекс будет иметь собственную благоустроенную набережную с освещенной парковой зоной. На территории жилого комплекса будут построены школа на 825 мест, детский сад на 140 мест, многоуровневая стоянка, 2 подземных паркинга, поликлиника и центр бытового обслуживания. </p>
  <a href="http://vbdom.ru/flats/plan" class="info__select">Выбрать квартиру в Видном береге</a>

  <ul class="info__partner">
    <li class="info__partner__item">
      <h1 class="info__partner__item__title">Тройка РЭД в проекте</h1>
      <div class="info__partner__item__role">Застройщик</div>
      <div class="info__partner__item__role">Технический заказчик</div>
      <div class="info__partner__item__role">Генеральный подрядчик</div>
    </li>
    <li class="info__partner__item">
      <h1 class="info__partner__item__title">Агент по реализации квартир</h1>
      <a href='/' class="info__partner__item__link">
        <span class="info__partner__item__link__text">BSA</span>
      </a>
      <a href='/' class="info__partner__item__link">
        <span class="info__partner__item__link__text">Best-novostroy</span>
      </a>
    </li>
    <li class="info__partner__item">
      <h1 class="info__partner__item__title">Управление</h1>
      <a href='/' class="info__partner__item__link">
        <span class="info__partner__item__link__text">ВБ-комфорт</span>
      </a>
    </li>
    <li class="info__partner__item">
      <h1 class="info__partner__item__title">Застройщик</h1>
      <a href='/' class="info__partner__item__link">
        <span class="info__partner__item__link__text">Cotar</span>
      </a>
    </li>
  </ul>
  <div class="info__rate">
    <h1 class="info__rate__title">Технико-экономические показатели</h1>
    <ul class="info__rate__list">
      <li class="info__rate__list__item">Общая площадь объекта
        <div class="info__rate__list__item__descr">110 000 кв.м.</div>
      </li>
      <li class="info__rate__list__item">Общий строительный объем
        <div class="info__rate__list__item__descr">481 000 куб. м.</div>
      </li>
      <li class="info__rate__list__item">Площадь квартир
        <div class="info__rate__list__item__descr">от 29 до 117 кв. м.</div>
      </li>
    </ul>
    <ul class="info__rate__list">
      <li class="info__rate__list__item">Кол-во мест в дет. саду 
        <div class="info__rate__list__item__descr">200</div>
      </li>
      <li class="info__rate__list__item">Кол-во мест в школе
        <div class="info__rate__list__item__descr">200</div>
      </li>
      <li class="info__rate__list__item">Площадь нежилых помещений
        <div class="info__rate__list__item__descr">850 кв. м</div>
      </li>
    </ul>
  </div>
</section>
