<section class="object__header">
  <img src="/assets/img/objects/object-header/img.jpg" alt="" class="object__header__img">
  <div class="object__header__bgr"></div>
  <ul class="object__header__list">
    <li class="object__header__list__item">Корпуса 1 и 2 — сданы</li>
    <li class="object__header__list__item">Корпуса 3 и 4 — апрель 2019 г.</li>
    <li class="object__header__list__item">Корпуса 5 и 6 — декабрь 2020 г.</li>
  </ul>
  <ul class="object__header__descr">
    <li class="object__header__descr__item">от 1,7 млн. р<br>
      <span class="object__header__descr__item__text">Цена квартиры</span>
    </li>
    <li class="object__header__descr__item">230 000 кв. м.<br>
      <span class="object__header__descr__item__text">Общая площадь ЖК</span>
    </li>
    <li class="object__header__descr__item">3 000<br>
      <span class="object__header__descr__item__text">Кол-во квартир</span>
    </li>
    <li class="object__header__descr__item">121 450 м²<br>
      <span class="object__header__descr__item__text">Общая площадь квартир</span>
    </li>
    <li class="object__header__descr__item">825<br>
      <span class="object__header__descr__item__text">Количество мест в школе</span>
    </li>
  </ul>
</section>

<a routerLink="['/']" class="object__header__back">Назад к списку объектов</a>

<div class="object__header__wrap">
  <h1 class="object__header__wrap__name">ЖК Видный Берег</h1>
  <span class="object__header__wrap__adress">Люберекций район, пос. Красково</span>
</div>

<a routerLink="['/']" class="object__header__life">Жизнь в Видном</a>