<section class="gallery">
  <div class="gallery__photos__wrap">
    <ul class="gallery__photos">
      <li class="gallery__photos__item">
        <img src="/assets/img/objects/object-gallery/k_17_night.jpg" alt="" class="gallery__photos__item__image">
        <div class="gallery__photos__item__text">Игровая площадка</div>
      </li>
      <li class="gallery__photos__item">
        <img src="/assets/img/objects/object-gallery/k_18_day.jpg" alt="" class="gallery__photos__item__image">
        <div class="gallery__photos__item__text">Игровая площадка</div>
      </li>
      <li class="gallery__photos__item">
        <img src="/assets/img/objects/object-gallery/k_18_night.jpg" alt="" class="gallery__photos__item__image">
        <div class="gallery__photos__item__text">Игровая площадка</div>
      </li>
      <li class="gallery__photos__item">
        <img src="/assets/img/objects/object-gallery/k_19_day.jpg" alt="" class="gallery__photos__item__image">
        <div class="gallery__photos__item__text">Игровая площадка</div>
      </li>
      <li class="gallery__photos__item">
        <img src="/assets/img/objects/object-gallery/k_21_day.jpg" alt="" class="gallery__photos__item__image">
        <div class="gallery__photos__item__text">Игровая площадка</div>
      </li>
    </ul>
    <div class="gallery__photos__wrap__arrow-left"></div>
    <div class="gallery__photos__wrap__arrow-right"></div>
  </div>
  <div class="gallery__scrollbar">
    <div class="gallery__scrollbar__indicator"></div>
  </div>
  <div class="gallery__dotted">
    <ul class="gallery__dotted__list">
      <li class="gallery__dotted__list__item item_active"></li>
      <li class="gallery__dotted__list__item"></li>
      <li class="gallery__dotted__list__item"></li>
      <li class="gallery__dotted__list__item"></li>
      <li class="gallery__dotted__list__item"></li>
    </ul>
  </div>
</section>