@font-face {
    font-family: 'Proba';
    src: url('/assets/fonts/Mint Type - Proba Pro Regular.eot');
    src: url('/assets/fonts/Mint Type - Proba Pro Regular.eot') format('embedded-opentype'),
         url('/assets/fonts/Mint Type - Proba Pro Regular.otf') format('opentype'),
         url('/assets/fonts/Mint Type - Proba Pro Regular.woff2') format('woff2'),
         url('/assets/fonts/Mint Type - Proba Pro Regular.woff') format('woff'),
         url('/assets/fonts/Mint Type - Proba Pro Regular.ttf') format('truetype');
}