.location{
    width: 100%;
    position: relative;
    margin-top: 594px;

    @media(max-width: 667px) and (min-width: 320px){
        left: 0;
        margin-top: 394px;
    }

    &__text{
        width: 703px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font: 15px/29px 'Proba', sans-serif;
        color: rgba(0, 0, 0, .37);

        @media(max-width: 667px) and (min-width: 320px){
            left: 20px;
            transform: translate(0);
        }
    }

    &__adress{
        width: 703px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font: 22px/29px 'Proba', sans-serif;
        color: #000;
        margin-top: 5px;

        @media(max-width: 667px) and (min-width: 320px){
            left: 20px;
            transform: translate(0);
            font-size: 18px;
            width: 100%;
        }
    }

    &__map__bgr{
        position: absolute;
        top: 0;
        left: 0;
        width: 670px;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) );
        z-index: 1;
        pointer-events: none;

        @media(max-width: 667px) and (min-width: 320px){
            display: none;
        }
    }
}

#location__map{
    width: 80%;
    height: 632px;
    left: 20%;
    position: relative;
    margin-top: 20px;

    @media(max-width: 667px) and (min-width: 320px){
        width: 100%;
        left: 0px;
        height: 427px;
    }
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}

.location__map__marker{
    border-radius: 50%;
    border: 3px solid #fff;
    width: 66px;
    height: 66px;
    list-style: none;
    overflow: hidden;
    opacity: .7;
    transition: opacity .2s linear;

    &_active {
        opacity: 1;
        width: 94px;
        height: 94px;
        border: 3px solid #EE4237;
    }

    &__bgr{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}