<section class="location">
  <div class="location__text">Распологается ЖК по адресу</div>
  <div class="location__adress">Горки Ленинские, Московская обл.,142712</div>
  <div id="location__map" class="location__map">
    <div class="location__map__bgr"></div>
  </div>
</section>