<section class="objects">
  <app-objects-header></app-objects-header>
  <app-about-housing-estate></app-about-housing-estate>
  <app-objects-gallery></app-objects-gallery>
  <app-objects-location></app-objects-location>
  <app-objects-news></app-objects-news>
  <app-other-objects></app-other-objects>
</section>